#menu {
	width: 70px;
	background-color: rgb(200,100,50);
	padding: 20px 20px 0 20px;
	position: absolute;
	left: -92px;
	z-index: 100;
}
#menu img {
	margin-bottom: 20px;
	border: 1px solid rgb(0,0,0);
}
h1{
	text-align:center;
}
p{
	margin-left:150px;
}