#menu_principal {

    width: 750px;
    margin: auto;
    margin-top: 100px;
}
li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 0 10px;
    text-align: center;
    border: solid 2px #000;
}
li a {


    border: 2px thin;
    display: block;
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;

    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));

}
#submenu1 {
    position: absolute;
    left: 585px;
    top: 136px;
    width: 200px;
    height: 131px;
    z-index: 1;
}
#submenu1 a {

    background: -moz-linear-gradient(top, #58b724 0%, #6fd868 51%, #ace2b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58b724), color-stop(51%, #6fd868), color-stop(100%, #ace2b8));


}