#titulo {
    margin-left: 150px;
}

#foto p {
    background-color: #000;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    width: 300px;
}

h1 {
    text-align: center;
}