table{
	text-align:center;
    float:right;
    margin-right:50px;
}
p{
	font-size:1.3em;
}


#imagen_grande {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	width: 700px;
	height: 405px;
	z-index: 1;
	border:dotted 5px #0000FF;
	/*background-color: #FF0000;*/
}