table {
    text-align: center;
    width: 50%;
    border: none;
    margin: auto;
  }

  img {
    width: 250px;
    height: 175px;
    padding: 0 5px;
  }

  h1 {
    text-align: center;
  }