body{
	background-color:#0092D1;
	color:#000000;
}

h3 {
	background-image: url(imgs/open.png) no-repeat 0 40px;
	padding: 10px 0 0 25px;
	cursor: pointer;
}
h3.cerrar {
	background-color: #3ed900;
	color:#FFFFFF;
}
.respuesta {
	margin-left: 25px;	
}
.titulo{
	text-align:center;
}
.principal{
	margin-left:200px;
	margin-top:150px;
	
}