#banner{
    background-color: #F00000;
    width: 450px;
    height: 300px;
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 36px;
    text-align: center;
}
img{
    float: left;
    margin: 15px;
    width: 250px;
    height: 175px;
}
#imagen1, #imagen2, #imagen3{
    float: left;
    margin: 15px;
    width: 350px;
    height: 200px;
    font-size: 30px;
}