#menu {
    position: absolute;
    left: -210px;
    top: 0px;
    width: 213px;
    height: 232px;
    background-color: #FF9;
    padding: 15px;
  }

  #boton {
    position: absolute;
    left: 216px;
    top: 5px;
    width: 21px;
    height: 25px;
    z-index: 1;
    cursor: pointer;
  }