body{
	background-color:#a82206;
}

h1{
	color:#fff300;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	padding-bottom:50px;
	text-align:center;
}

p{
	color:#fff300;
	font-size:2em;
}

p span{font-size:2em;
}