#imagenes{
	width:1475px;
	margin:auto;
	
}
img{
	padding:20px 30px;
}

#mensaje_img1 {
	position: absolute;
	left: 623px;
	top: 392px;
	width: 581px;
	height: 215px;
	background-color: #FF9;
	font-size: 24px;
	font-weight: bold;
	padding: 25px;
	border: dotted 2px #00F;
}